In [17]:
#we'll try to use KNN to create a model that directly predicts a class
#for a new data point based off of the features.

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [18]:
df = pd.read_csv("mis.csv", index_col=0)

In [19]:
df.head()

,BMI,Nmisc,Activity,Location,temp,bpm,stress,bp,Miscarriage/ No Miscarriage
Age,,,,,,,,,
25,19.84127,2,1,2,33,103,0,2,1
25,19.84127,2,1,2,31,103,0,2,0
25,19.84127,2,1,2,31,103,0,2,1
25,19.84127,2,1,2,32,103,0,2,0
25,19.84127,2,1,2,30,103,0,2,1

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999999 entries, 25 to 25
Data columns (total 9 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   BMI                          999999 non-null  float64
 1   Nmisc                        999999 non-null  int64
 2   Activity                     999999 non-null  int64
 3   Location                     999999 non-null  int64
 4   temp                         999999 non-null  int64
 5   bpm                          999999 non-null  int64
 6   stress                       999999 non-null  int64
 7   bp                           999999 non-null  int64
 8   Miscarriage/ No Miscarriage  999999 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 76.3 MB

In [21]:
X = df.iloc[:,1:6]

In [22]:
X.head()

     Nmisc  Activity  Location  temp  bpm
Age
25       2         1         2    33  103
25       2         1         2    31  103
25       2         1         2    31  103
25       2         1         2    32  103
25       2         1         2    30  103

#  X & y  in an array

In [24]:
X = X.values

In [25]:
X

array([[  2,   1,   2,  33, 103],
       [  2,   1,   2,  31, 103],
       [  2,   1,   2,  31, 103],
       ...,
       [  2,   4,   0,  35,  90],
       [  2,   4,   0,  29,  90],
       [  2,   4,   0,  39,  90]], dtype=int64)

In [28]:
y = df.iloc[:, -1].values

In [29]:
y

array([1, 0, 1, ..., 1, 1, 1], dtype=int64)

# Standardize the variables
Because the KNN classifier predicts the class of a given test observation by identifying the observations that are nearest to it, the scale of the variables matters. Any variables that are on a small scale

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
scaler = StandardScaler()

In [32]:
scaler.fit(df.drop('Miscarriage/ No Miscarriage', axis=1))

StandardScaler()

In [33]:
scaled_features = scaler.transform(df.drop('Miscarriage/ No Miscarriage',axis=1))

In [34]:
df_feat= pd.DataFrame(scaled_features, columns=df.columns[:-1])
df_feat.head()

       BMI  Nmisc  Activity  Location      temp       bpm    stress        bp
0 -0.06932    0.0 -1.349241  0.502226 -0.267540 -0.448912 -1.050138  0.426565
1 -0.06932    0.0 -1.349241  0.502226 -0.802222 -0.448912 -1.050138  0.426565
2 -0.06932    0.0 -1.349241  0.502226 -0.802222 -0.448912 -1.050138  0.426565
3 -0.06932    0.0 -1.349241  0.502226 -0.534881 -0.448912 -1.050138  0.426565
4 -0.06932    0.0 -1.349241  0.502226 -1.069564 -0.448912 -1.050138  0.426565

# TRAIN TEST SPLIT

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state=20)
#df['Miscarriage/ No Miscarriage'], test_size = 0.3)
#x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [37]:
# USING KNN
#we'll start with k=1

from sklearn.neighbors import KNeighborsClassifier

In [40]:
KNN = KNeighborsClassifier(n_neighbors = 5,
                          weights = 'uniform',
                          algorithm = 'kd_tree',
                          leaf_size = 30,
                          p = 2,
                          metric = 'minkowski',
                          n_jobs = -1)

In [41]:
KNN.fit(X_train, y_train)

KNeighborsClassifier(algorithm='kd_tree', n_jobs=-1)

In [43]:
y_pred = KNN.predict(X_test)

# Acurracy of model

In [44]:
from sklearn.metrics import classification_report, confusion_matrix

In [49]:
print( classification_report(y_test.reshape(-1, 1), y_pred))

              precision    recall  f1-score   support

           0       0.50      0.51      0.50    100322
           1       0.50      0.49      0.50     99678

    accuracy                           0.50    200000
   macro avg       0.50      0.50      0.50    200000
weighted avg       0.50      0.50      0.50    200000

# Cross-Validation

In [50]:
from sklearn.model_selection import cross_val_score

In [51]:
print('Cross val', cross_val_score(KNN, y_test.reshape(-1, 1), y_pred))

Cross val [0.493525 0.4999   0.50645  0.5001   0.50395 ]

In [52]:
print('Cross val', np.mean(cross_val_score(KNN, y_test.reshape(-1, 1), y_pred)))

Cross val 0.5007849999999999